<div id="inventory-index" class="page-content">
	<div class="container-fluid">
	  <div class="row">

			<!-- Sticky sidebar navigation -->
			<div id="#navbar-sticky" class="col-md-4 housing-index-links">
				<nav class="nav flex-column sticky-top">
					<a class="nav-link" href="#section-1"><h4>Les locaux</h4></a>
					<a class="nav-link" href="#section-2"><h4>Le bailleur</h4></a>
					<a class="nav-link" href="#section-3"><h4>Le locataire</h4></a>
					<a class="nav-link" href="#section-4"><h4>Les pièces</h4></a>
					<a class="nav-link" href="#section-5"><h4>Entretien et réparations</h4></a>
				</nav>
			</div>

			<!-- Inventory document -->
      <div class="col-md-6 offset-md-3">
        <br>
        <br>
        <div class="navigaton-container">
          <%= link_to housing_path(@rental.housing), class: "button-navigation-small" do  %>
            <i class="fa fas fa-long-arrow-alt-left"></i>
          <% end %>
          <%= link_to rental_inventories_path(@rental, :format => :pdf), target: :_blank, :target=>'blank', class: "button-navigation-small" do %>
            <i class="fa far fa-file-pdf"></i>
          <% end %>
          <%= link_to send_email_inventory_rental_path(@rental), remote: true, class: "button-navigation-small" do %>
            <i class="fa far fa-envelope-open"></i>
          <% end %>
        </div>
        <hr>
        <%= render 'inventory' %>
      </div>


    </div>
  </div>
</div>
