<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 class="form-title align-center">Ajouter un locataire</h3>
    <%= render 'form_renter', rental: @rental, renter: @renter %>
  </div>
</div>
