<div class="form-page">
  <div class="container-fluid">

    <!-- Sidebar showing progression -->
    <div class="row">

      <div class="col-md-3 offset-md-1">
        <aside class="steps-indicator sticky-top">
          <div class="step-section">
            <h5 class="text-uppercase text-gray text-bold sans-serif">Étape 1</h5>
            <div class="flex-success">
              <h4 class="d-inline sans-serif">Votre location</h4><h3><i class="fas fa-check-circle text-success"></i><h3>
            </div>
            <p>Que louez vous, pour combien…</p>
          </div>
          <hr>
          <div class="step-section">
            <h5 class="text-uppercase text-gray text-bold sans-serif">Étape 2</h5>
            <h4 class="sans-serif">Ajoutez votre locataire</h4>
            <p>Ses informations, coordonnées…</p>
          </div>
        </aside>
      </div>

      <!-- Display housing#new form -->
      <div class="col-md-5 offset-md-1">
        <h3 class="form-title align-center bold">Ajouter un locataire</h3>
        <%= render 'form_renter', rental: @rental, renter: @renter %>
      </div>

    <!-- Row ends-->
    </div>

  <!-- Fluid container ends -->
  </div>
</div>
