// Define variables for your color scheme

// Default colors
$white:  #FFFFFF;
$red:    #ED4E37;
$orange: #F0DA21;
$yellow: #FDECA5;

// Primary palette (main one)
$green:      #2FBC5C;
$light-gray: #F5F5F5;
$gray:       #C4C4C4;
$black:      #333333;
$blue:       #06B5DE;

// Secondary palette (darker one)
$green-alt:      #2A9F4A;
$light-gray-alt: #E6E6E6;
$gray-alt:       #999999;
$black-alt:      #242424;
$blue-alt:       #03A1C5;
