// Import Google fonts
// @import url("https://use.typekit.net/kxh3plo.css");

// Add local fonts
@font-face {
  font-family:'Publico';
  src:font-url('publico/Publico-Roman.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family:'Publico';
  src:font-url('publico/Publico-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family:'AkzidenzGrotesk';
  src:font-url('akzidenz-grotesk/AkzidenzGrotesk-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family:'AkzidenzGrotesk';
  src:font-url('akzidenz-grotesk/AkzidenzGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family:'AkzidenzGrotesk';
  src:font-url('akzidenz-grotesk/AkzidenzGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
}

// Define fonts for body and headers
$sans-serif: "AkzidenzGrotesk", "Helvetica", "sans-serif";
$serif: "Publico", "Helvetica", "sans-serif";
