/* -------------------------------------
 * Sizes and colors for typography
* ------------------------------------- */

// Set size for main typographic elements and mprove the display of type
html {
  font-size: $font-size-base !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $h1-font-size;
  font-family: $headers-font;
}

h1.market_title {
    text-transform: uppercase;
    text-align: left;
    color: white;
}

h2 {
  font-size: $h2-font-size;
  font-family: $headers-font;
}

h3 {
  font-size: $h3-font-size;
  font-family: $headers-font;
}

h4 {
  font-size: $h4-font-size;
  font-family: $headers-font;
}

h5 {
  font-size: $h5-font-size;
  font-family: $headers-font;
}

p.market_p {
  text-align: left;
  color: #d9fcff;

}


a,
li,
body {
  font-size: $font-size-base;
}

// Set font-weight for main typographic elements
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400; // regular
  line-height: 1.20; // 21,6px
}

body {
  color: $black-alt !important;
  font-weight: 400; // normal
  line-height: 1.35; // 24,3px
}

a {
  color: $blue;
  font-weight: 400; //normal
  text-decoration: none;
  &:hover {
    color: $blue-alt ;
    text-decoration: none; // No underline on hover
  }
}

.align-center {
  text-align: center;
  vertical-align: center;
}

p.muted {
  margin-bottom: ($spacer * 3);
  a {
    color: $danger;
    opacity: 0.6;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-gray {
  color: $gray;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-lighter {
  opacity: 0.4;
}

.text-success {
  color: $green-alt;
}

.small-text {
  color: $gray;
}

.small-blue-text {
  color: $blue;
}
