.rental-info-cards {
  display: flex;
  margin-bottom: 30px;
}

.rental-info-card{
  width: 200px;
  height: 200px;
  border: 1px solid $gray;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(254, 254, 254);
  padding: 30px;
  position: relative;
  flex: 0 0 auto;
}


.rental-info-card-title {
  position: absolute;
  top: 30%;
  text-align: center;
}

.rental-info-card-description {
  position: absolute;
  top: 60%;
  color: gray;
  font-size: 12px;
}

.housing-info {
  width: 660px;
  border: 1px dashed $gray;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(254, 254, 254);
  padding: 20px;
}

.housing-details li {
  height: 1.7rem;
}
