div.vacant-housings-list,
div.rented-housings-list {
  .item-housing {
    margin-bottom: 3rem;
  }
  .item-housing:last-child {
    margin-bottom: 5rem;
  }
}

.housings-list-title {
  margin-bottom: 2rem;
}
