
<br>
<div class="page-content">
  <h3 align="center">Bienvenue dans votre espace de signature </h3>
  <p align="center">Signez votre contrat de location en toute sécurité avec Hiry, vous recevrez également un email de confirmation à la signature de votre document par votre locataire.</p>

  <iframe src="<%= @docusign_url %>" width="100%" height=900></iframe>
</div>
