<p>
  Le contrat prendra effet le : <%= rental.start_date %> et prendra fin le :<%= rental.end_date %>
</p>
<ul>
  <li>Loyer mensuel : <%= rental.monthly_rent %> €</li>
  <li>Charges mensuelles : <%= rental.monthly_expenses %> €</li>
</ul>
