<div class="form-page">
  <div class="container-fluid">

    <!-- Sidebar showing progression -->
    <div class="row">

      <div class="col-md-3 offset-md-1">
        <aside class="steps-indicator sticky-top">
          <div class="step-section">
            <h5 class="text-uppercase text-gray text-bold sans-serif">Étape 1</h5>
            <h4 class="sans-serif">Parlez-nous de vous</h4>
            <p>Votre adresse, votre statut…</p>
          </div>
          <hr>
          <div class="step-section">
            <h5 class="text-uppercase text-gray text-bold text-lighter sans-serif">Étape 2</h5>
            <h4 class="text-lighter sans-serif">Ajoutez vos pièces</h4>
            <p class="text-lighter">Cuisine, salle de bain, salon…</p>
          </div>
        </aside>
      </div>

      <!-- Display housing#new form -->
      <div class="col-md-5 offset-md-1">
        <h3 class="form-title align-center bold">Créer une location</h3>
        <%= render 'form_rental', housing: @housing, rental: @rental, renter: @renter %>
      </div>

    <!-- Row ends-->
    </div>

  <!-- Fluid container ends -->
  </div>
</div>
