<div class="page-content">
	<div class="container">
	  <div class="row">
      <div class="col-md-8 offset-md-2">
        <br>
        <div class="navigaton-container">
          <%= link_to housing_path(@housing), class: "button-navigation-small" do %>
            <i class="fa fas fa-long-arrow-alt-left"></i>
          <% end %>
          <%= link_to rental_path(@rental, :format => :pdf), class: "button-navigation-small" do %>
            <i class="fa far fa-file-pdf"></i>
          <% end %>
          <%= link_to send_email_contract_rental_path(@rental), class: "button-navigation-small" do %>
            <i class="fa far fa-envelope-open"></i>
          <% end %>
        </div>
        <hr>
        <%= render 'rental' %>
      </div>
    </div>
  </div>
</div>
