<div id="rental-show" class="page-content">
	<div class="container">
	  <div class="row">

			<!-- Sticky sidebar navigation -->
			<div class="col-md-3">
				<nav class="sticky-top">
					<a class="text-black" href="#vacant-housing"><h4>À louer</h4></a>
				</nav>
			</div>

      <div class="col-md-9">
        <br>
        <div class="navigaton-container">
          <%= link_to housing_path(@housing), class: "button-navigation-small" do %>
            <i class="fa fas fa-long-arrow-alt-left"></i>
          <% end %>
          <%= link_to rental_path(@rental, :format => :pdf), :target=>'blank', class: "button-navigation-small" do %>
            <i class="fa far fa-file-pdf"></i>
          <% end %>
          <%= link_to send_email_contract_rental_path(@rental), class: "button-navigation-small" do %>
            <i class="fa far fa-envelope-open"></i>
          <% end %>
        </div>
        <hr>
        <%= render 'rental' %>
      </div>

    </div>
  </div>
</div>
