<%= render :partial => 'rentals/rental.html.erb', rental: @owner %>

<h3>Signature du locataire</h3>
<span style="color:white;">RenterSign</span>
<br><br><br><br>
<h3>Signature du propriétaire</h3>
<span style="color:white;">UserSign</span>
