<div id="rental-show" class="page-content">
	<div class="container-fluid">
	  <div class="row">

			<!-- Sticky sidebar navigation -->
			<div id="#navbar-sticky" class="col-md-4 housing-index-links">
				<nav class="nav flex-column sticky-top">
					<a class="nav-link" href="#section-1"><h4>Parties prenantes</h4></a>
					<a class="nav-link" href="#section-2"><h4>Objet du contrat</h4></a>
					<a class="nav-link" href="#section-3"><h4>Dates</h4></a>
					<a class="nav-link" href="#section-4"><h4>Conditions financières</h4></a>
					<a class="nav-link" href="#section-5"><h4>Travaux</h4></a>
					<a class="nav-link" href="#section-6"><h4>Clauses résolutoires</h4></a>
					<a class="nav-link" href="#section-7"><h4>État des lieux </h4></a>
				</nav>
			</div>

			<!-- Rental document -->
      <div class="col-md-7 offset-md-1">
        <div class="row mb-5">
					<div class="col-md-4 align-center">
	          <%= link_to "Revenir au bien", housing_path(@housing), class: "btn btn-outline-primary" %>
					</div>
					<div class="col-md-4 align-center">
	          <%= link_to rental_path(@rental, :format => :pdf), :target=>'blank', class: "btn btn-primary" do %>
	            <span>Voir la version PDF</span>
	          <% end %>
					</div>
					<div class="col-md-4 align-center">
	          <%= link_to send_email_contract_rental_path(@rental), class: "btn btn-primary" do %>
	            <span>Signer le document</span>
	          <% end %>
					</div>
        </div>
				<%= render 'rental', housing: @housing %>
      </div>

    </div>
  </div>
</div>
