<div class="page-content">
	<div class="container">
	  <div class="row">
      <div class="col-md-8 offset-md-2">
        <br>
        <br>
        <br>
        <br>
        <%= link_to "Tableau de bord",  housing_path(@housing),                  class: "button-navigation-small" %>
        <%= link_to 'Version PDF',      @rental.lease_pdf.url,   class: "button-navigation-small", target: :_blank %>
        <%= link_to 'Envoyer par mail', send_email_contract_rental_path(@rental), class: "button-navigation-small" %>
        <hr>
        <%= render 'rental' %>
      </div>
    </div>
  </div>
</div>
