<div id="rental-show" class="page-content">
	<div class="container-fluid">
	  <div class="row">

			<!-- Sticky sidebar navigation -->
			<div id="#navbar-sticky" class="col-md-4 housing-index-links">
				<nav class="nav flex-column sticky-top">
					<a class="nav-link" href="#section-1"><h4>Parties prenantes</h4></a>
					<a class="nav-link" href="#section-2"><h4>Objet du contrat</h4></a>
					<a class="nav-link" href="#section-3"><h4>Dates</h4></a>
					<a class="nav-link" href="#section-4"><h4>Conditions financières</h4></a>
					<a class="nav-link" href="#section-5"><h4>Travaux</h4></a>
					<a class="nav-link" href="#section-6"><h4>Clauses résolutoires</h4></a>
					<a class="nav-link" href="#section-7"><h4>État des lieux </h4></a>
				</nav>
			</div>

			<!-- Rental document -->
      <div class="col-md-7 offset-md-1">
        <div class="row mb-5">
					<div class="col-md-4 align-center">
	          <%= link_to "Revenir au bien", housing_path(@housing), class: "btn btn-outline-primary" %>
					</div>
					<div class="col-md-4 align-center">
	          <%= link_to rental_path(@rental, :format => :pdf), :target=>'blank', class: "btn btn-primary" do %>
	            <span>Voir la version PDF</span>
	          <% end %>
					</div>
					<div class="col-md-4 align-center">
	          <%= link_to send_email_contract_rental_path(@rental), class: "btn btn-primary" do %>
	            <span>Signer le document</span>
	          <% end %>
					</div>
        </div>
				<%= render 'rental', housing: @housing %>

        <!-- Show success or not if contract signed -->
				<h3 class="text-bold mt-5">État des signatures</h3>
        <div class="card mt-3">
					<div class="card-body">
          <!-- Signed by owner text -->
	          <% if @rental.signed_by_owner %>
	            <p><i class="fas fa-check-circle text-success"></i>  Vous avez bien signé le contrat de bail<p>
	          <% else %>
	            <p><i class="fas fa-times-circle text-fail"></i>  En attente de votre signature<p>
	          <% end %>

	          <!-- Signed by renter text -->
	          <% if @rental.signed_by_renter %>
	            <p><i class="fas fa-check-circle text-success"></i>  Votre locataire a bien signé le contrat de bail<p>
	          <% else %>
	            <p><i class="far fa-times-circle text-fail"></i>  En attente de la signature de votre locataire<p>
	          <% end %>
					</div>
        </div>

    </div>
  </div>
</div>
