<div class="page-content">
	<div class="container">
	  <div class="row">
      <div class="col-md-8 offset-md-2">
        <br>
        <br>
        <br>
        <br>
        <div align="center">
          <%= link_to "Tableau de bord",  housing_path(@housing),                  class: "button-navigation-small" %>
          <%= link_to 'Version PDF',      rental_path(@rental, :format => :pdf),   class: "button-navigation-small" %>
          <%= link_to 'Envoyez par mail', send_email_contract_rental_path(@rental), remote: true,  class: "button-navigation-small" %>
        </div>
        <hr>
        <%= render 'rental' %>
      </div>
    </div>
  </div>
</div>
