<div class="gradient"></div>
<div class="homepage">
	<div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= image_tag "landing.png", id: "landing-image" %>
      </div>
      <div class="col-md-4">
        <div class="description">
          <h1 class="text-white">Gérez simplement vos biens locatifs</h1>
          <p class="text-white">Hiry, c’est la façon simple et rapide de gérer vos locations d’appatement ou de maison.</p>
          <div class="button"><%= link_to "Decouvrir Hiry", new_user_registration_path, class: "btn btn-primary btn-lg" %></div>
        </div>
      </div>
    </div>
  </div>
</div>
