<!-- Background image -->
<div class="fullscreen fullscreen-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(44,44,44,0.2) 50%), url('https://res.cloudinary.com/bboulesteix/image/upload/v1528029627/housings-background_shrink.jpg')">
	<div class="fullscreen-content">
		<h1 class="fullscreen-title">Mes<br>biens</h1>
	</div>
</div>

<!-- Page container -->
<div class="page-content">
	<div class="container">
	  <div id="index_page" class="row">

			<!-- Sticky sidebar navigation -->
			<div id="#navbar-sticky" class="col-md-3 housing-index-links">
				<nav class="navbar sticky-top">
					<a class="nav-link" href="#vacant-housing"><h4>À louer</h4></a>
					<!-- Display rented link if rented locations exist -->
					<% if @rented_housings.present? %>
						<a class="nav-link" href="#rented-housing"><h4>En location</h4></a>
					<% end %>
				</nav>
			</div>

			<!-- Begin Housings lists -->
	    <div class="col-md-9">

	      <div class="list-housing">
					<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">

						<!-- Lists vacant housings first -->
						<div class="vacant-housings-list">
							<h2 id="vacant-housing" class="housings-list-title text-uppercase">Mes biens à louer</h2>
							<!-- If vacant housing don't exist yet invite the user to create one -->
							<% if !@vacant_housings.present? && !@rented_housings.present? %>
								<div class="card align-center">
								  <div class="card-body my-3">
								    <h3 class="card-title serif">Vous n’avez pas encore de bien en location</h3>
								    <p class="card-text">Ajoutez un premier bien (appartement ou maison) pour créer votre première location.</p>
										<%= link_to "Ajouter un bien", new_housing_path, class: "btn btn-primary btn-lg mt-5" %>
								  </div>
								</div>
							<% elsif !@vacant_housings.present? && @rented_housings.present? %>
							<div class="card align-center">
								<div class="card-body my-3">
									<h3 class="card-title serif">Tous vos biens sont loués</h3>
									<p class="card-text">Mettez un nouveau bien en location.</p>
									<%= link_to "Ajouter un nouveau bien", new_housing_path, class: "btn btn-primary btn-lg mt-5" %>
								</div>
							</div>
							<% elsif %>
							<!-- If vacant housing exist then display them -->
								<% @vacant_housings.each do |housing| %>
									<%= render 'list_housings', housing: housing %>
								<% end %>
							<% end %>
						</div>

						<!-- Lists rented housings if they exist -->
						<% if @rented_housings.present? %>
							<div class="rented-housings-list">
			          <h2 id="rented-housing" class="housings-list-title text-uppercase mt-5">Mes biens en locations</h2>
								<% @rented_housings.each do |housing| %>
									<% rental = Rental.where(housing_id: housing.id).last %>
									<% renter = Renter.where(rental_id: rental.id).last %>
									<%= render 'list_housings', housing: housing, renter: renter, rental: rental %>
								<% end %>
							</div>
						<% end %>

					</div>
				</div>

	    </div>
			<!-- End housings list -->

	  </div>
	</div>
</div>
