<!-- Background image -->
<div class="fullscreen fullscreen-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(44,44,44,0.2) 50%), url('https://res.cloudinary.com/bboulesteix/image/upload/v1528029627/housings-background_shrink.jpg')">
	<div class="fullscreen-content">
		<h1 class="fullscreen-title">Ma liste<br>de biens</h1>
	</div>
</div>

<!-- Page container -->
<div class="page-content">
	<div class="container">
	  <div id="index_page" class="row">

			<!-- Sticky sidebar navigation -->
			<div class="col-md-3">
				<nav class="navbar sticky-top">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="#vacant-housing"><h4>À louer</h4></a>
						</li>
						<li class="nav-item">
							<a href="#rented-housing"><h4>En location</h4></a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Begin Housings lists -->
	    <div class="col-md-9">

	      <div class="list-housing">
					<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">

						<!-- Lists vacant housings first -->
						<div class="vacant-housings-list">
							<h2 id="vacant-housing" class="housings-list-title">À louer</h2>
							<% @vacant_housings.each do |housing| %>
								<%= render 'list_housings', housing: housing %>
							<% end %>
						</div>
						<!-- Lists rented housings then -->
						<div class="rented-housings-list">
		          <h2 id="rented-housing" class="housings-list-title">En location</h2>
							<% @rented_housings.each do |housing| %>
								<% rental = Rental.where(housing_id: housing.id).last %>
								<% renter = Renter.where(rental_id: rental.id).last %>
								<%= render 'list_housings', housing: housing, renter: renter, rental: rental %>
							<% end %>
						</div>

					</div>
				</div>

	    </div>
			<!-- End housings list -->

	  </div>
	</div>
</div>
