<div class="fullscreen fullscreen-img" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(44,44,44,0.2) 50%), url('https://res.cloudinary.com/bboulesteix/image/upload/v1528029627/housings-background_shrink.jpg')">
	<div class="fullscreen-content">
		<h1 class="fullscreen-title">Ma liste<br>de biens</h1>
	</div>
</div>

<div class="page-content">
	<div class="container">
	  <div id="index_page" class="row">

			<!-- Sticky sidebar navigation -->
			<div class="col-md-3">
				<nav class="nav flex-column">
				  <a class="nav-link" href="#"><h2>À louer</h2></a>
				  <a class="nav-link" href="#"><h2>En location</a>
				</nav>
			</div>

			<!-- Housings lists -->
	    <div class="col-md-9">
	      <div class="list-housing">
					<% @housings.each do |housing| %>
						<% rental = Rental.where(housing_id: housing.id).last %>
						<% if rental.present? %>
							<% renter = Renter.where(rental_id: rental.id).last %>
						<% end %>
						<%= render 'list_housings', housing: housing, renter: renter, rental: rental %>
					<% end %>
				</div>
				<!-- Adds button to the bottom of the housing list -->
	      <%= link_to "Ajouter un bien", new_housing_path, class: "btn btn-primary mt-2" %>
	    </div>

	  </div>
	</div>
</div>
