<div class="form-page">
  <div class="container-fluid">

    <!-- Sidebar showing progression -->
    <div class="row">

      <div class="col-md-3 offset-md-1">
        <aside class="steps-indicator sticky-top">
          <div class="step-section">
            <h5 class="text-uppercase text-bold">Étape 1</h5>
            <h4 class="sans-serif">Décrivez votre bien</h4>
            <p class="text-gray-dark">Adresse, type de bien…</p>
          </div>
          <hr>
          <div class="step-section">
            <h5 class="text-uppercase text-bold text-lighter">Étape 2</h5>
            <h4 class="text-lighter sans-serif">Décrivez vos pièces</h4>
            <p class="text-gray-dark text-lighter">Cuisine, salle de bain, salon…</p>
          </div>
        </aside>
      </div>

      <!-- Display housing#new form -->
      <div class="col-md-5 offset-md-1">
        <h2 class="form-title align-center">Ajouter un nouveau bien</h2>
        <%= render 'form_housing', housing: @housing %>
      </div>

    <!-- Row ends-->
    </div>

  <!-- Fluid container ends -->
  </div>
</div>
