<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 class="form-title align-center">Ajouter une nouvelle pièce</h3>
    <%= render 'form_room', housing: @housing, room: @room %>
    <% if @rooms.present? %>
      <%= link_to "Valider toutes mes pièces", housing_path(@housing), class: "btn btn-primary mt-2" %>
    <% end %>
    <% if @rooms.present? %>
      <p>Pièce(s) déjà ajoutée(s) : </p>
    <% end %>
    <ul>
      <% @rooms.reverse.each do |room| %>
        <li>
          <%= room.type_of_room %> - <%= room.size %>m2
        </li>
      <% end %>
    </ul>
  </div>
</div>
