/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 5rem;
  margin-bottom: -1rem;

  text-align: center;
  color: $white;
  width:100%;
  z-index: 5;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.alert-info {
  background: $green;
}

.alert-warning {
  background: $red;
}
