.item-housing {
  border: 1px solid $gray;
  width: 100%;
}

.housing-nav {
  a {
    text-decoration: none;
    color: $black;
  }
  a:hover {
    text-decoration: underline;
    color: $black;
  }
}

// Top part of the card
.card-link {
  a {
    background: transparent;
  }
}

.card-housing {
  text-transform: none;
  text-decoration: none;
  &:hover {
    background-color: $light-gray;
  }
  a {
    color: $dark !important;
  }
  a:hover {
    color: $dark !important;
  }
}

// Main flex contaiener for location part
.card-location {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

// Sub flex container for the text
.card-location-text {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-location-title {
  line-height: $line-height-lg;
}

.card-date-title {
  color: $gray-alt;
  margin: 0;
}

// Flex item for map
.card-location-map {
  width: 16rem;
  height: 9rem;
  align-self: flex-end;
}

// Call to action part
.card-rental {
  border-top: 1px solid $gray;
  padding: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  &:hover {
    background-color: $light-gray;
  }
}

.card-rental-link {
  a {
    color: $dark;
    text-decoration: none;
  }
  a:hover {
    color: $dark;
    text-decoration: none;
  }
}

.card-rental-info p {
  line-height: $line-height-lg;
  margin-bottom: 0;
}

.key {
  color: $green;
}

.card-rental-icon {
  margin-left: 2.5rem;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
}

// Edit part
.card-edit {
  border-top: 1px solid $gray;
}

.card-edit-links {
  margin: 1rem .5rem;
  a {
    text-decoration: none;
  }
  a:hover {
  text-decoration: underline;
  }
}
