.card-housing {
  border: 1px solid $gray;
  padding: 20px;
  position: relative;
}

.card-location {
  border: 1px solid $gray;
  position: relative;
}

.card-rental {
  border: 1px solid $gray;
  display: flex;
}

.card-edit {
  border: 1px solid $gray;
}

.card-location-map {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid $gray;
  width: 150px;
}

.card-rental-icon {
  width: 100px;
  border: 1px solid $gray;
  text-align: center;
  vertical-align: middle;
}
