// Shared CSS to make the footer sticky
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

// Section that we want to grow to fill the space (the main section in our case)
.main {
  width: 100%;
  max-width: 1440px;
  min-width: 768px;
  margin: 0 auto;
  overflow: hidden;
}

.footer {
  width: 100%;
  line-height: 3rem;
  padding: 3rem 0;
  background-color: $light-gray;
  color: $black;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
