.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 4.5rem;
  line-height: 3rem;
  background-color: $light-gray;
  color: $black;
  font-weight: 300;
  align-items: center;
  text-align: center;
}
