.form-control,
.form-control-label,
.form-check-label {
  font-size: $font-size-base;
  color: $black;
  font-weight: 300 !important;
  &::placeholder {
    color: $gray !important;
    font-weight: 300;
  }
}
