// Style for H3 title of form
.form-title {
  margin: ($spacer * 2) 0 !important;
}

// Style for form labels
.form-control-label {
  color: $black;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  margin-left: 1rem;
}

// Set font-size and font-weight of input field and placeholder
.form-control,
.form-control::placeholder {
  font-size: $font-size-base;
  font-weight: $font-weight-light;
}

// Set color of input field and placeholder
.form-control {
  color: $input-color !important;
  &::placeholder {
    color: $input-color-placeholder !important;
  }
}

// Add vertical margin to form submit button
input[type="submit"].btn-block {
  margin: ($spacer * 1.5) 0 !important;
}
