// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";

html{ height:100%;
      }

body{ height:100%;
}

.container {
  min-height: 100%;
  position: relative;
}

