<div class="form-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="form-title align-center bold">Créer une quittance de loyer</h3>
        <%= render 'form_receipt', receipt: @receipt %>
      </div>
    </div>
  </div>
</div>
